[Unit]
Description=uWSGI instance to serve LSD
After=network.target

[Service]
User=sav
Group=www-data
WorkingDirectory=/home/sav/server/lsd
Environment="PATH=/home/sav/server/lsd/venv/bin"
ExecStart=/home/sav/server/lsd/venv/bin/uwsgi --ini lsd_uwsgi.ini

[Install]
WantedBy=multi-user.target