<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/>
    <meta name="p:domain_verify" content=""/>
    <meta name="yandex-verification" content="{{ SEO.yandex.verification }}"/>
    <style>
        * {
            color: white;
            background-color: black;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ GOOGLE_ANALYTICS }}');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-{{ SEO.google.adsense_id }}",
            enable_page_level_ads: true
        });
    </script>
    <title>app.alexandersobyanin.ru</title>
</head>
<body>
<h1>app.alexandersobyanin.ru</h1>
<a href="https://alexandersobyanin.ru">Back to main page</a>

<script type="text/javascript" language="JavaScript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym({{ YANDEX_METRIKA }}, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        trackHash:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/{{ YANDEX_METRIKA }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>