<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/>
    <meta name="p:domain_verify" content=""/>
    <meta name="yandex-verification" content="{{ SEO.yandex.verification }}"/>
    <style>
        * {
            color: white;
            background-color: black;
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-{{ SEO.google.adsense_id }}",
            enable_page_level_ads: true
        });
    </script>
    <title>app.alexandersobyanin.ru</title>
</head>
<body>
<h1>app.alexandersobyanin.ru</h1>
<a href="https://alexandersobyanin.ru">Back to main page</a>
</body>
</html>